form {
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  display: block;
  background: pink;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 33px;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
}
label:hover {
  background: #fff;
  box-shadow: 0 0 5px #111;
}
label:hover span {
  color: pink;
}
